body {
  margin: 0;
  font-display: swap;
}
.Dashboard.container {
  width: 100%;
  max-width: none;
  margin: 0;
}
.Navbar button,
.Navbar button:enabled {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: white;
}

.header {
  height: 75px;
  width: 100%;
  top: 35px;
  background-color: teal;
  position: relative;
  display: grid;
  grid-auto-flow: column;
}
.logo {
  position: relative;
  display: flex;
  justify-self: center;
  top: -35px;
}
.navitem {
  text-align: center;
  font-size: 1.4em;
  color: white;
  text-decoration-line: none;
  padding-top: 20px;
  height: 40px;
}

.Shop {
  position: relative;
  top: 100px;
}
.card {
  height: 480px;
}
.card-image {
  width: 287px;
  height: 287px;
}
.card-title {
  padding-left: 15px;
  font-weight: bold !important;
}

.card-content {
  padding: 10px !important;
}
.card-content .container {
  margin: 0;
}
.card-footer {
  position: absolute;
  bottom: 15px;
}
.card-footer p {
  padding-left: 5px;
}
.card-footer label {
  display: block;
  padding-left: 5px;
  font-size: 0.9rem;
  color: gray;
}
#size,
#gender {
  display: inline-flex;
  width: 65px;
  margin: 0 5px;
}
#gender {
  width: 75px;
}
p.desc {
  padding-left: 5px;
}
span.desc {
  margin-left: 5px;
}
.Cart.container {
  position: relative;
  top: 150px;
}
.Cart h2 a:hover {
  text-decoration-line: underline;
}
.Info.container {
  margin-bottom: 20px;
  text-align: center;
}
#category {
  display: block;
  width: 100px;
  margin: 0 auto;
}
.Total {
  text-align: center;
}
.Total button {
  margin: 0 0 5px 10px;
  background-color: teal;
}
.Total button:hover,
.Login button:hover {
  background-color: #26a69a;
}
.Login button {
  background-color: teal;
}
.Login {
  position: relative;
  top: 150px;
}
